h1 {
  font-family: "Raleway", sans-serif;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.contents {
  width: 824px;
  margin: 0 auto;
}

.header {
  background: navy;
  color: lightblue;
  padding: 0 1rem;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.searchBar {
  min-width: 16rem;
  padding: 0.1rem;
}

.searchBar input {
  width: 100%;
  padding: 0.5rem;
}

.searchBar input:focus {
  outline: none;
}

.footer {
  text-align: center;
}

.footer .content {
  max-width: 900px;
  margin: 0 auto;
}

.postCard {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.postCard_header {
  font-size: 1.5rem;
  cursor: pointer;
}
.postCard:hover .postCard_header {
  color: dodgerblue;
}

.postCard_subHeader {
  display: flex;
  justify-content: space-between;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  box-shadow: 4px 4px black;
}
